Django==6.0.5
asgiref==3.11.1
django-crispy-forms==2.6
django-crispy-tailwind==1.1.1
django-tailwind==0.12.0
django-tailwind-forms==0.1.0
django-tailwind-forms-crispy==0.1.0
django-tailwind-forms-crispy==0.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
whitenoise==7.2.0
requests==2.34.2